:root {
  --red-pantone: #e63946ff;
  --honeydew: #f1faeeff;
  --honeydew-hover: #d8e4d7;
  --non-photo-blue: #a8dadcff;
  --cerulean: #457b9dff;
  --berkeley-blue: #1d3557ff;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--non-photo-blue);
  min-height: 100vh;
  text-align: center;
}

header {
  padding-block: 2rem;
}

.winner {
  height: 42px;
  margin-block: 2rem;
  font-size: 1.75rem;
}

.game-results--hidden {
  visibility: hidden;
}

.boards {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(11, 50px);
  grid-template-rows: repeat(11, 50px);
  gap: 4px;
}

.board__squares {
  display: grid;
  grid-template-columns: repeat(10, min-content);
  grid-area: 2 / 2 / -1 / -1;
  gap: 4px;
}

.alpha-coordinates {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
}

.num-coordinates {
  grid-row: 2 / -1;
  display: grid;
  align-items: center;
}

.board__square {
  width: 50px;
  aspect-ratio: 1;
  border: 1px solid var(--berkeley-blue);
  border-radius: 0.25rem;
}

.board__square--ship {
  background-color: var(--cerulean);
}

.board__square--opponent {
  cursor: pointer;
}

.board__square--opponent:hover {
  border: 2px solid var(--red-pantone);
}

.board__square--attack {
  border: 1px solid var(--berkeley-blue) !important;
  background-color: var(--red-pantone);
  cursor: not-allowed;
}

.board__square--miss {
  border: 1px solid var(--berkeley-blue) !important;
  background-color: var(--honeydew);
  cursor: not-allowed;
}

.board > p {
  grid-column: 2 / -1;
  margin-block: 1rem;
}

.board > .btn {
  grid-column: 2 / -1;
  margin-inline: auto;
}

.btn {
  background-color: var(--honeydew);
  border: none;
  padding: 8px 24px;
  border-radius: 99999px;
}

.btn:hover {
  background-color: var(--honeydew-hover);
  cursor: pointer;
}

.btn--hidden {
  visibility: hidden;
}
